In [1]:
import pandas as pd
import numpy as np

from data import load_data, save_data, increment_league_df
from games import fetch_game_json, fetch_other_games_league
from params import BACTH_SIZE

%load_ext autoreload
%autoreload 2

In [15]:
ll_df = load_data(table_name= 'last_indices',provenance='cloud')
ll_df

Table last_indices successfully loaded from basket-ao-bucket/last_indices.

            table  last_scraped_index
0  all_fiba_games              910000
1          league             1847530

In [3]:
# Last hard_start : 800 000
#save_data(ll_df,'last_indices','cloud')

In [17]:
l_df = load_data(table_name= 'league',provenance='cloud')

copy_to_local = False
if copy_to_local :
    save_data(l_df,table_name='league',destination='local')

Table league successfully loaded from basket-ao-bucket/league.

In [18]:
print(f"Number of leagues identified : {l_df['competition'].nunique():_}".replace('_',' '))
print(f"Number of games with league identified : {l_df.shape[0]:_}".replace('_',' '))
pd.DataFrame(l_df['competition'].value_counts()).head(20)

Number of leagues identified : 592
Number of games with league identified : 34 295

                            competition
2020-21 Men's Basketball           8591
2020-21 Women's Basketball         7911
2 Liga Mężczyzn                     529
Bリーグ 2020-21 B1リーグ戦                 469
Bリーグ 2020-21 B2リーグ戦                 347
Перша Ліга                          330
NATIONALE MASCULINE 1               259
Serie A2 Femminile                  254
Вища Ліга                           244
LNB - PROB                          242
LNB - JeepElite                     221
Вища Ліга (жінки)                   218
Suzuki 1 Liga Mężczyzn              215
АБЛ                                 212
ХАБЛ                                204
ББЛ А група                         176
1 Liga Kobiet                       176
TOP SPORT-RKL                       164
Energa Basket Liga                  163
Miesten I divisioona B              162

In [6]:
g_df = load_data(table_name= 'all_fiba_games',provenance='cloud')

copy_to_local = False

if copy_to_local :
    save_data(g_df,table_name='all_fiba_games',destination='local')

Table all_fiba_games successfully loaded from basket-ao-bucket/all_fiba_games.

In [7]:
g_df

,id,url,home,away
0,1701860,https://livestats.dcd.shared.geniussports.com/...,Razzle,Ansett
1,1701861,https://livestats.dcd.shared.geniussports.com/...,Razzle,Ansett
2,1701862,https://livestats.dcd.shared.geniussports.com/...,TV Jets,Ansett
3,1701863,https://livestats.dcd.shared.geniussports.com/...,TV Jets,Ansett
4,1701865,https://livestats.dcd.shared.geniussports.com/...,Lightning,Ansett
...,...,...,...,...
240204,909995,https://livestats.dcd.shared.geniussports.com/...,MUN. PUENTE ALTO,CD MANQUEHUE
240205,909996,https://livestats.dcd.shared.geniussports.com/...,Club Athletico Paulistano,Bauru Basket
240206,909997,https://livestats.dcd.shared.geniussports.com/...,Eltham Wildcats,Hawthorn Magic
240207,909998,https://livestats.dcd.shared.geniussports.com/...,Eltham Wildcats,Hawthorn Magic
240208,909999,https://livestats.dcd.shared.geniussports.com/...,Ringwood Hawks,McKinnon Cougars

In [8]:
c_df = pd.merge(g_df,l_df,how = 'outer', on='id')
c_df['id'].min()

800000

In [9]:
c_df

,id,url,home,away,competition
0,1701860,https://livestats.dcd.shared.geniussports.com/...,Razzle,Ansett,2020 Women's League Championship Season
1,1701861,https://livestats.dcd.shared.geniussports.com/...,Razzle,Ansett,2020 Women's League Championship Season
2,1701862,https://livestats.dcd.shared.geniussports.com/...,TV Jets,Ansett,2020 Women's League Championship Season
3,1701863,https://livestats.dcd.shared.geniussports.com/...,TV Jets,Ansett,2020 Women's League Championship Season
4,1701865,https://livestats.dcd.shared.geniussports.com/...,Lightning,Ansett,NaN
...,...,...,...,...,...
249207,2181919,NaN,NaN,NaN,2022-23 Men's Basketball
249208,2181920,NaN,NaN,NaN,2022-23 Men's Basketball
249209,2181922,NaN,NaN,NaN,2022-23 Men's Basketball
249210,2181927,NaN,NaN,NaN,2022-23 Men's Basketball
249211,2207055,NaN,NaN,NaN,2022-23 Women's Basketball