In [1]:
import pandas as pd
import numpy as np

from data import load_data, save_data, increment_league_df
from games import fetch_game_json, fetch_other_games_league
from params import BACTH_SIZE

%load_ext autoreload
%autoreload 2

In [5]:
ll_df = load_data(table_name= 'last_indices',provenance='cloud')
ll_df

Table last_indices successfully loaded from basket-ao-bucket/last_indices.

            table  last_scraped_index
0  all_fiba_games              800000
1          league             1798110

In [4]:
save_data(ll_df,'last_indices','cloud')

Table last_indices successfully saved on the cloud at basket-ao-bucket/last_indices

In [75]:
g_df = load_data(table_name= 'all_fiba_games',provenance='cloud')

copy_to_local = False

if copy_to_local :
    save_data(g_df,table_name='all_fiba_games',destination='local')

Table all_fiba_games successfully loaded from basket-ao-bucket/all_fiba_games.
Table all_fiba_games successfully saved locally on /home/arnaud/.basket_project/data/all_fiba_games.csv

In [76]:
l_df = load_data(table_name= 'league',provenance='cloud')

copy_to_local = False
if copy_to_local :
    save_data(l_df,table_name='league',destination='local')

Table league successfully loaded from basket-ao-bucket/league.
Table league successfully saved locally on /home/arnaud/.basket_project/data/league.csv

In [79]:
l_df.head()

        id                            competition
0  1702008  2020 Men's League Championship Season
1  1702030  2020 Men's League Championship Season
2  1702047  2020 Men's League Championship Season
3  1702033  2020 Men's League Championship Season
4  1702004  2020 Men's League Championship Season

In [80]:
g_df.head()

,id,url,home,away
0,1701860,https://livestats.dcd.shared.geniussports.com/...,Razzle,Ansett
1,1701861,https://livestats.dcd.shared.geniussports.com/...,Razzle,Ansett
2,1701862,https://livestats.dcd.shared.geniussports.com/...,TV Jets,Ansett
3,1701863,https://livestats.dcd.shared.geniussports.com/...,TV Jets,Ansett
4,1701865,https://livestats.dcd.shared.geniussports.com/...,Lightning,Ansett

In [84]:
c_df = pd.merge(g_df,l_df,how = 'outer', on='id')
c_df['id'].min()

831990

In [77]:
print(f"Number of leagues identified : {l_df['competition'].nunique():_}".replace('_',' '))
print(f"Number of games with league identified : {l_df.shape[0]:_}".replace('_',' '))
pd.DataFrame(l_df['competition'].value_counts()).head(20)

Number of leagues identified : 379
Number of games with league identified : 10 177

                                         competition
Bリーグ 2020-21 B1リーグ戦                              753
Bリーグ 2020-21 B2リーグ戦                              552
2 Liga Mężczyzn                                  525
NATIONALE MASCULINE 1                            266
Serie A2 Femminile                               254
LNB - PROB                                       226
Suzuki 1 Liga Mężczyzn                           215
LNB - JeepElite                                  206
1 Liga Kobiet                                    171
Energa Basket Liga                               161
Miesten I divisioona B                           160
ББЛ А група                                      144
NKL (Nacionalinė krepšinio lyga)                 132
Молодежный чемпионат ВТБ 2020/21                 129
Serie A1 Femminile                               124
Korisliiga                                       124
Miesten I divisioona A                           116
Košarkaška liga Srbije                           116
Tippmix Férfi NB I, A csoport 2020/2021          114
Energa Basket Liga Kobiet                        110